@import "tailwindcss";

@layer base {
  .font-serif {
    font-family: "Crimson Pro", Georgia, serif;
  }

  .font-super {
    font-family: "inter", sans-serif;
  }

  .dropdown-menu {
    a {
      display: flex;
      flex-direction: row;
      column-gap: 0.75rem;
      padding: 10px 12px;

      &:hover {
        background-color: #e7e9f9;
        color: #3e50f4;
        border-radius: 0.75rem;
      }
    }
  }
}
